<h1 class="header">ADD NEW BOARD</h1>
<div class="header">
  <mat-card>
    <mat-card-title>BOARD DETAILS</mat-card-title>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>NAME</mat-label>
        <input matInput required  id="name" [(ngModel)]="name" placeholder="BOARD NAME">
        <mat-icon matSuffix>dashboard</mat-icon>
        <mat-hint>TRELLO BOARD NAME</mat-hint>
        <mat-error></mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>DESCRIPTION</mat-label>
        <textarea matInput required id="description" [(ngModel)]="description" placeholder="BOARD DESCRIPTION"></textarea>
        <mat-icon matSuffix>description</mat-icon>
        <mat-hint>TRELLO BOARD DESCRIPTION</mat-hint>
      </mat-form-field>
    </p>
    <mat-error id="error">{{error | uppercase}}</mat-error>
    <mat-card-actions align="end" >
      <button mat-raised-button color="warn" (click)="goBack()">CANCEL</button>
      <button mat-raised-button color="primary" (click)="createBoard()">CREATE</button>
    </mat-card-actions>
  </mat-card>
</div>