<h1 class="header">ADD NEW CARD</h1>
<div class="header">
  <mat-card>
    <mat-card-title>CARD DETAILS</mat-card-title>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>NAME</mat-label>
        <input matInput required  id="name" [(ngModel)]="name" placeholder="CARD NAME">
        <mat-icon matSuffix>dashboard</mat-icon>
        <mat-hint>TRELLO CARD NAME</mat-hint>
        <mat-error></mat-error>
      </mat-form-field>
    </p>

    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="goBack()">CANCEL</button>
      <button mat-raised-button color="primary" (click)="createCard()">CREATE</button>
    </mat-card-actions>
  </mat-card>
</div>